{% extends "base.html" %}

{% block title %}Agent Chat Pro{% endblock %}

{% block head %}
{% include "partials/acp_styles.html" %}
{% endblock %}

{% block content %}
{% include "partials/acp_content.html" %}
{% endblock %}

{% block scripts %}
{% include "partials/acp_vendor.html" %}
<script>
(() => {
{% include "partials/acp_script_core.html" %}
{% include "partials/acp_script_messages.html" %}
{% include "partials/acp_script_threads.html" %}
{% include "partials/acp_script_hitl.html" %}
{% include "partials/acp_script_stream.html" %}
{% include "partials/acp_script_init.html" %}
})();
</script>
{% endblock %}
